export const DISCORD_GUILD_ID = '1234567890123456';
export const DISCORD_API_URL = 'https://discord.com/api/v8';
export const DISCORD_AUTH_HEADER =
    'Bot DISCORD-BOT-TOKEN-HERE.BEARER-HEADER-ALSO-WORKS';
export const DISCORD_CLIENT_ID = '98765432109876543';
export const DISCORD_PUBLIC_KEY =
    'DISCORD-APPLICATION-PUBLIC-KEY';
